body{
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: auto;
}

.container{
    height: 100%;
    border-top: 0em;
    display: grid;
    width: 100%;
    margin: 0px;
}
.top-section{
    background-color: #352D2F;
    padding: 0%;
    display: inline-grid;
    width: 100%;
    align-items: stretch;
    align-content: center;
    grid-template-columns: 70px auto auto;

}
.top-section div{
    display: inline-block;
    align-content: center;
}

.top-section .logo{
    justify-content: flex-start;
    border: 0px;
    padding: 0px;
}
.top-menu{
    margin-left: auto;
    justify-content: center;
    justify-self: center;
    padding-top: 20px;

}
.top-menu ul{
    padding: 0px;
    margin: auto;
    display: inline-block;
    justify-self: center;
    
}
.top-menu ul li{
    display: inline-block;
    color: aliceblue;
    padding: 10px;
    font-size: 15px;
    align-self: center;
    font-family: Economica;
    

}
.social-media-icons{
    margin: 0px;
    align-content: right;
    /* align-self: ; */
}
.social-media-icons i{
    align-content: end;
    /* align-content: right; */
    float: right;
}
.second-section{
    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    background-color: #352D2F;

}
.heading-section{
    font-family: Economica;
    font-size: 50px;
    
}
.heading-section h1{
    color: aliceblue;
}
.text-section{
    font-family: Economica;
}
.text-section p {
    color: aliceblue;
}

#text-section {
    text-indent: 10%;
}
.button {
    background-color: #f7fdf8;
    border: none;
    color: rgb(22, 20, 20);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Economica;
    font-weight: 900;
  }

.third-section{
    display: grid;

    grid-template-columns: 50% auto;
}
.highlighted-projects{
    display: grid;
    grid-template-rows:200px 200px 200px;
}
.text-area{
    display: grid;
    /* height: 200px; */
    justify-items: center;
    /* grid-template-rows: ; */
    justify-content: center;
    grid-template-columns:40% 40% 20%;
}
.center{
    /* display: grid; */
    justify-content: center;
    place-self: center;
}
.text-area p{
    /* padding-left: 45%; */
    font-family: Economica;
    font-size: 12px;
    padding-top: 15px;
}
.highlighted-projects h2{
    /* padding-left: 5px; */
    font-family: Economica;
    font-size: 35px;
    /* padding-bottom: 20px; */
}
.featured-projects{
    background-color: #F63C3C;
    display: grid;
    grid-template-rows: 2fr 1fr;
    
}
.featured-2{
    font-family: Economica;
    color: aliceblue;
    display: grid;
    justify-items: start;
    grid-template-columns: 10% 90%;
}
.discover-more{
    padding-left: 45%;
}
.discover-more p{
    padding:0%;
    font-size: 12px;
    font-family: Economica;
}
.discover-more .button {
    background-color: #F63C3C;
    border: none;
    color: rgb(22, 20, 20);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: Economica;
    font-weight: 900;
    
  }

.colored-boxes{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grey-area{
      height: 200px;
      background-color:#605A5C;
  }
.dark-grey-area{
    height: 200px;
    background-color: #352D2F;
}

.featured-projects{
    display: grid;
    grid-template-rows: 200px 200px 200px;
}

.fourth-section{
    display: grid;
    grid-template-columns: 50% 50%;
    /* height: 400px; */
    align-items: stretch;
}

.history-text{
    display: grid;
    grid-template-columns: 20% 70%;
    font-family: Economica;
}
.history-logo{
    /* display: grid; */
    color: black;
}

.explore-more .button{
    background-color:#F63C3C;
    color: cornsilk;
    
}

.fifth-section{
    display: grid;
    grid-template-columns:20% auto 20%;
}
.mid-content {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
}
#items{
    display: grid;
    place-items: center;
}
#items h1{
    color:#F63C3C ;
    font-family: Economica;
    
}
#items p{
    font-family: economica;
}